* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #8e73c2, #5875b7);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.205);
  text-align: center;
  justify-content: center;
  margin: 80px;
  padding-top: 50px;
}

.box {
  display: flex;
  width: 250px;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  background: #9a8ecc;
  text-align: center;
  border-radius: 5px;
  line-height: 40px;
}

.button {
  height: 60px;
  width: 200px;
  background: #fffd38;
  border-radius: 5px;
  text-align: center;
  margin: 24px;
}

.container {
  display: flex;
  width: 250px;
  height: 800px;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  background: #9a8ecc;
  text-align: center;
  border-radius: 5px;
  align-self: center;
}

.h2 {
  text-align: center;
}
